@inherits LayoutComponentBase

<div class="np-app">
    <header class="np-header">
        <div class="np-header-inner">
            <NavMenu />
        </div>
    </header>

    <main class="np-main">
        <article class="np-container">
            @Body
        </article>
    </main>
</div>

<div id="blazor-error-ui">
    An unhandled error has occurred.
    <a href="" class="reload">Reload</a>
    <a class="dismiss">🗙</a>
</div>
