@page "/orders/create"
@using Microsoft.EntityFrameworkCore
@using OnlineBookStore.Domain
@inject IDbContextFactory<OnlineBookStore.Data.OnlineBookStoreContext> DbFactory
@inject NavigationManager NavigationManager

<PageTitle>Create</PageTitle>

<h1>Create</h1>

<h2>Orders</h2>
<hr />
<div class="row">
    <div class="col-md-4">
        <EditForm method="post" Model="Orders" OnValidSubmit="AddOrders" FormName="create" Enhance>
            <DataAnnotationsValidator />
            <ValidationSummary class="text-danger" role="alert"/>
            <div class="mb-3">
                <label for="orderdate" class="form-label">OrderDate:</label> 
                <InputDate id="orderdate" @bind-Value="Orders.OrderDate" class="form-control" /> 
                <ValidationMessage For="() => Orders.OrderDate" class="text-danger" /> 
            </div>        
            <div class="mb-3">
                <label for="status" class="form-label">Status:</label> 
                <InputText id="status" @bind-Value="Orders.Status" class="form-control" /> 
                <ValidationMessage For="() => Orders.Status" class="text-danger" /> 
            </div>        
            <div class="mb-3">
                <label for="totalamount" class="form-label">TotalAmount:</label> 
                <InputNumber id="totalamount" @bind-Value="Orders.TotalAmount" class="form-control" /> 
                <ValidationMessage For="() => Orders.TotalAmount" class="text-danger" /> 
            </div>        
            <div class="mb-3">
                <label for="customerid" class="form-label">CustomerId:</label> 
                <InputNumber id="customerid" @bind-Value="Orders.CustomerId" class="form-control" /> 
                <ValidationMessage For="() => Orders.CustomerId" class="text-danger" /> 
            </div>        
            <div class="mb-3">
                <label for="datecreated" class="form-label">DateCreated:</label> 
                <InputDate id="datecreated" @bind-Value="Orders.DateCreated" class="form-control" /> 
                <ValidationMessage For="() => Orders.DateCreated" class="text-danger" /> 
            </div>        
            <div class="mb-3">
                <label for="dateupdated" class="form-label">DateUpdated:</label> 
                <InputDate id="dateupdated" @bind-Value="Orders.DateUpdated" class="form-control" /> 
                <ValidationMessage For="() => Orders.DateUpdated" class="text-danger" /> 
            </div>        
            <div class="mb-3">
                <label for="createdby" class="form-label">CreatedBy:</label> 
                <InputText id="createdby" @bind-Value="Orders.CreatedBy" class="form-control" /> 
                <ValidationMessage For="() => Orders.CreatedBy" class="text-danger" /> 
            </div>        
            <div class="mb-3">
                <label for="updatedby" class="form-label">UpdatedBy:</label> 
                <InputText id="updatedby" @bind-Value="Orders.UpdatedBy" class="form-control" /> 
                <ValidationMessage For="() => Orders.UpdatedBy" class="text-danger" /> 
            </div>        
            <button type="submit" class="btn btn-primary">Create</button>
        </EditForm>
    </div>
</div>

<div>
    <a href="/orders">Back to List</a>
</div>

@code {
    [SupplyParameterFromForm]
    private Orders Orders { get; set; } = new();

    
    private async Task AddOrders()
    {
        using var context = DbFactory.CreateDbContext();
        context.Orders.Add(Orders);
        await context.SaveChangesAsync();
        NavigationManager.NavigateTo("/orders");
    }
}
